.filter__currency-item {

}

.filter__currency-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.filter__currency-label {
    cursor: pointer;
}

.filter__currency-text {
}

.filter__currency-text_checked {
    color: red;
}